#about {
    background-color: #ffe680;
    text-align: center;
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;
}
#portfolio {
    background-color: #ffe680;
    text-align: center;
    color: black;
    margin: 0px 0 20px 0;
    padding: 20px;
}
#contact{
    background-color: #ffe680;
    text-align: center;
    color: black;
    margin: 0px 0 20px 0;
    padding: 50px;

}
img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}
.myNavbar{
  background-color: #ffd633;
  font-weight: bold;
  color: black ;
  width: 100%;
}
.nav{
    background-color: #ffd633;
    font-weight: bold;
    text-align: center;
    color: white ;
}
body { 
  padding-bottom: 70px;
}
